[submodule "vendor/Symfony/Component/Console"]
	path = vendor/Symfony/Component/Console
	url = git://github.com/symfony/Console.git
[submodule "vendor/Symfony/Component/ClassLoader"]
	path = vendor/Symfony/Component/ClassLoader
	url = git://github.com/symfony/ClassLoader.git
[submodule "vendor/Symfony/Component/Finder"]
	path = vendor/Symfony/Component/Finder
	url = git://github.com/symfony/Finder.git
[submodule "vendor/Symfony/Component/Process"]
	path = vendor/Symfony/Component/Process
	url = git://github.com/symfony/Process.git
[submodule "vendor/Symfony/Component/Yaml"]
	path = vendor/Symfony/Component/Yaml
	url = git://github.com/symfony/Yaml.git
[submodule "vendor/PHPUnit/phpunit"]
	path = vendor/PHPUnit/phpunit
	url = git://github.com/sebastianbergmann/phpunit.git
[submodule "vendor/PHPUnit/phpunit-mock-objects"]
	path = vendor/PHPUnit/phpunit-mock-objects
	url = git://github.com/sebastianbergmann/phpunit-mock-objects.git
[submodule "vendor/PHPUnit/phpunit-selenium"]
	path = vendor/PHPUnit/phpunit-selenium
	url = git://github.com/sebastianbergmann/phpunit-selenium.git
