[submodule "vendor/Symfony/Component/Console"]
	path = vendor/Symfony/Component/Console
	url = git://github.com/symfony/Console.git
[submodule "vendor/Symfony/Component/ClassLoader"]
	path = vendor/Symfony/Component/ClassLoader
	url = git://github.com/symfony/ClassLoader.git
[submodule "vendor/Symfony/Component/Finder"]
	path = vendor/Symfony/Component/Finder
	url = git://github.com/symfony/Finder.git
[submodule "vendor/Symfony/Component/Process"]
	path = vendor/Symfony/Component/Process
	url = git://github.com/symfony/Process.git
[submodule "vendor/Symfony/Component/Yaml"]
	path = vendor/Symfony/Component/Yaml
	url = git://github.com/symfony/Yaml.git
[submodule "vendor/PHPUnit"]
	path = vendor/PHPUnit
	url = git://github.com/sebastianbergmann/phpunit.git
